{% extends 'rango/base.html' %}

{%  block title %} Adiciona Página para {{ category_name }} {% endblock title %}

{% block body_block %}
    <div class="hero-unit">
        <h1>Adiciona Página para {{ category_name }}</h1>
        <div class="container">
        <form class="span6" id="page_form" method="post" action={% url 'add_page' category_name_url %}>
            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}
                {{ field }}<br/>
            {% endfor %}
            <button class="btn btn-primary" type="submit" name="submit">Adicionar Página</button>
        </form>
        </div>
    </div>
{% endblock body_block %}