<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{% static 'css/bootstrap-fluid-adj.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'css/bootstrap-responsive.min.css' %}" rel="stylesheet">

    <title>Rango - {% block title %}How to Tango with Django!{% endblock %}</title>
</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top">
   <div class="navbar-inner">
       <div class="container">
           <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
           </button>
           <a class="brand" href="/rango/">Rango</a>

           <div class="nav-collapse collapse">
               <ul class="nav pull-right">
                   {% if user.is_authenticated %}
                       <li class="navbar-text">Bem-vindo, {{ user.username }}!</li>
                       <li><a href="/rango/profile">Perfil</a></li>
                       <li><a href={% url 'logout' %}>Logout</a></li>
                   {% else %}
                       <li><a href={% url 'register' %}>Registre-se</a></li>
                       <li><a href={% url 'login' %}>Login</a></li>
                   {% endif %}
               </ul>
               <ul class="nav">
                   {% if user.is_authenticated %}
                       <li><a href={% url 'restricted' %}>Restrito</a></li>
                       <li><a href={% url 'add_category' %}>Adicione Categoria</a></li>
                   {% endif %}
                   <li><a href={% url 'about' %}>Sobre</a></li>
               </ul>
           </div>
           <!--/.nav-collapse -->
       </div>
   </div>
</div>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span3">
            <div class="well sidebar-nav">
                {% block sidebar %}
                {% endblock %}
                <div id="cats">
                    {% if cat_list %}
                        <ul class="nav nav-list"><li>Categorias</li></ul>
                        {% include 'rango/category_list.html' with cat_list=cat_list %}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="span9">
            {% block body_block %}
            {% endblock %}
        </div>
    </div>
</div>

<hr>
<script src="{% static 'js/jquery-2.1.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
<footer>
    <div class="container">
        <p>&copy; Rango: How to Tango with Django (BSI6) 2014</p>
    </div>
</footer>
</html>