<ul>
    {% if cat_list %}
        {% for cat in cat_list %}
            <li><a href={% url 'category' cat.url %}>{{ cat.name }}</a></li>
        {% endfor %}
    {% else %}
        <li>Sem categorias no momento.</li>
   {% endif %}
</ul>