{% extends 'rango/base.html' %}

{%  block title %} Categoria: {{ category_name }} {% endblock title %}

{% block body_block %}
    <div class="hero-unit">
    {% if category %}
        <h1>{{ category_name }} </h1>
        {% if pages %}
            {% for page in pages %}
                <ul>
                    <li><a target="_blank" href={{ page.url }}>{{ page.title }}</a></li>
                </ul>
            {% endfor %}
        {% else %}
            <strong> Categoria {{ category_name }} ainda não possui páginas cadastradas! </strong>
        {% endif %}
        {% if user.is_authenticated %}
            <br/> <a href={% url 'add_page' category_name_url %}>Adiciona uma Página</a>
        {% endif %}
    {% else %}
        <strong> Categoria {{ category_name }} não existe! </strong>
    {% endif %}
    </div>
{% endblock body_block %}