{% extends 'rango/base.html' %}
{% load static %}

{%  block title %} Principal {% endblock title %}

{% block body_block %}
<div class="hero-unit">
    <h1>Ready to Rango</h1>
    <p>Encontre, Adicione e compartilhe links e recursos úteis.</p>
</div>

<div class="row-fluid">
    <div class="span6">
        <h2>Top 5 Categorias</h2>
        {% if categories %}
        <ul>
            {% for category in categories %}
            <li>
                <a href={% url 'category' category.url %}>{{ category.name }}</a>
                {% if category.likes > 1 %}
                    ({{ category.likes }} likes)
                {% elif category.likes == 1%}
                    ({{ category.likes }} like)
                {% endif %}
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <strong>Nenhuma categoria no momento.</strong>
        {% endif %}

    </div>
    <!--/span-->
    <div class="span6">
        <h2>Top 5 Páginas</h2>
        {% if pages %}
        <ul>
            {% for page in pages %}
            <li>
                <a href="/rango/goto/?page_id={{page.id}}">{{ page.title }} </a>
                {% if page.views > 1 %}
                    ({{ page.views }} views)
                {% elif page.views == 1 %}
                    ({{ page.views }} view)
                {% endif %}
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <strong>Sem páginas no momento.</strong>
        {% endif %}
    </div>
    <!--/span-->
</div>
<!--/row-->
{% endblock body_block %}