{% extends 'rango/base.html' %}

{%  block title %} Registre-se {% endblock title %}

{% block body_block %}
<div class="hero-unit">
    <h1>Registre-se no Rango</h1>
    <br />

    <div class="container">
        {% if registered %}
        <p>Obrigado por se registrar.</p>

        <p><a href="/rango/login/">Efetue o login</a> quando você estiver pronto.</p>
        {% else %}
        <form class="form-signin span8" id="user_form" method="post" action={% url 'register' %}
              enctype="multipart/form-data">
            {% csrf_token %}
            <h2 class="form-signin-heading">Assine aqui.</h2>
            <!-- Display each form here -->

            {% for field in user_form.visible_fields %}
            {{ field.errors }}
            {{ field.help_text }}<br />
            {{ field }}<br />
            {% endfor %}

            {% for field in profile_form.visible_fields %}
            {{ field.errors }}
            {{ field.help_text }}<br />
            {{ field }}<br />
            {% endfor %}

            <br />
            <!-- Provide a button to click to submit the form. -->
            <input class="btn btn-primary" type="submit" name="submit" value="Registre-se"/>
        </form>
        {% endif %}
    </div>
</div>
{% endblock %}