{% extends 'rango/base.html' %}
{%  block title %} Página restrita {% endblock title %}

{% block body_block %}
    <div class="hero-unit">
    <h1>Página restrita!</h1>
    <strong>{{ texto }} </strong><br/>
    </div>
{% endblock body_block %}